name: Test CI
on:
  push:
    paths:
      - '**.ring'
      - '.github/workflows/testCI.yml'
  workflow_run:
    workflows: ["Build and Update"]
    types:
      - completed

jobs:
  test:
    if: ${{ github.event_name == 'push' || github.event.workflow_run.conclusion == 'success' }}
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-24.04-arm ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.workflow_run.head_branch || github.ref }}

    - name: Run tests
      uses: ysdragon/ring-action@v1.3.2
      with:
        file: "tests/TOML_test.ring"
